@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Metric Conversion</title>
</head>
<body>
    <div class=" text-center">
        We're going to convert some values from kilo to miles and vice versa.  Let's go!
        <a asp-action="Conversion">Convert Them!</a>
    </div>
</body>
</html>